@mixin clearfix() {
  &:after {
    content: '';
    display: block;
    clear: both;
  }
}
.clearfix {
  @include clearfix;
}

.image-box {
  float: left;
  width: 150px;
  margin: 0 10px 0 0;
  p {
    margin: 0;
  }
  img {
    width: 150px;
  }
  .btn-edit {
    float: left;
  }
  .btn-delete {
    float: right;
  }
}

